a, p{ color: #444; font-family: sans-serif; font-size: 14px;}

th{text-align: left; color: #444;}
body{ margin: 0 auto}

.header {height: 50px; border-bottom:solid 1px #ddd; background-color: #eee}
.header .title{ float:left; margin-top: 15px; margin-left: 100px; color: #444; 
                font-size: 25px; font-weight: bold; text-decoration: none;}
.header p{ margin-top: 20px; margin-right: 100px; float: right;}

.container { margin: 0 auto; min-height: 550px; width: 950px; border-left: solid 1px #eee; border-right: solid 1px #eee; padding-left: 20px; padding-right: 20px;}

.footer { margin: 0 auto; height: 100%; border-top:solid 1px #ddd; background-color: #eee}
.footer p{color: #666; font-size: 11px; text-align: center;}

#login_index {margin: 10px auto; width: 350px;}
#login_index form{margin: 20px 20px 10px 20px;}
#login_index div{margin: 10px 30px 5px 30px;}
#login_index p{margin: 0 auto; color:#f00; font-size: 12px; text-align: center;}

#register {margin: 10px auto; width: 400px;}
#register form{margin: 20px 20px 20px 20px;}

#home-index #boardcast{margin: 0px -20px 0px -20px; height: 20px; background-color: #eee; color: #999; font-size: 12px; text-align: center; padding-top: 5px;}

#home-index ul{ width: 500px; height: 20px; margin: 20px auto; list-style-type: none;}
#home-index li{ float: left; width: 100px; padding-left: 20px;}
#home-index table{width: 100%}
#home-index tr{vertical-align: top;}
#home-index #leftAd, #home-index #rightAd{ border: solid 1px #999; height: 400px; vertical-align: middle; text-align: center;}
#home-index #core{margin: 0px 20px 0px 20px; min-height: 500px;}
#home-index #welcome{position:relative; left: 0px; top: 0px; margin: 0;}
#home-index .section{ height: 200px; margin-top: 20px; }
#home-index .title{font-weight: bold; }

#admin {height: 800px;}
#admin #layout{margin-top: 20px; padding-left: 10px; padding-right: 10px; width: 100%; height: 380px}
#admin #myevents{margin-top: 20px; margin-left: 10px; margin-right: 10px; height: 300px;}
#admin .panel {width: 100%; height: 20px;}
#admin .panel a{float:right;}
#admin #myevents fieldset{height: 270px}
#admin #mygroups{margin: 10px 10px 10px 10px; height: 100%;}
#admin #mygroups div a{float:right;}
#admin #mygroups fieldset{height: 100%;}
#admin #myadmins{margin: 10px 10px 10px 10px; height: 100%;}
#admin #myadmins fieldset{height: 100%; margin-top: 45px;}
