<h1>Welcome to Lives Calendar</h1>
<form action="/user/login">
	<table>
	<tr><th>用户名:</th><td><input type="text" name="user" maxlength="20"/></td></tr>
	<tr><th>密码:</th><td><input type="password" name="password" maxlength="20"/></td></tr>
	<th></th><td><input type="submit" value="登录" /></td>
	</table>
</form>
<% if flash[:message] %>
	<p class="message"><%=flash[:message]%></p>
<% end %>
<a href="/user/register">快速注册</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/passwd">找回密码</a>
